.c-AboutMeSection {
  max-height: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  content: "";
  position: relative;
  line-height: 1rem;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 1px, #ffffff);
    // background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
  }
}