* {
  font-family: 'Open Sans', sans-serif;
};

.c-IndexContent {
  height: calc(100vh -  3.75rem);
}

.c-IndexContent {
  margin: 3.75rem auto auto auto;

  @include cw(85.375) {
    margin: 3.75rem auto auto auto;
  }
}

svg {
  pointer-events: none;
}

.c-save-button {
  cursor: pointer;

  &:disabled {
    background-color: rgb(167, 167, 167);
    cursor: auto;
  }
}

.fill-whilte {
  fill: #ffffff;
}
