.c-Background {
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  transition: all 0.3s;

  &.c-Show {
    visibility: visible;
  }
  
  @include md {
    &.c-IsDashboard, .c-Show {
      display: none;
    }

    &.c-Show {
      visibility: hidden;
    }
  }
}
