.c-DashboardContainer {
  height: calc(100vh -  3.75rem);
  margin: 3.75rem auto auto auto;
  padding: 1rem;
  transition: all 0.3s ease-in-out;

  @media (min-width: 48em) {
    margin: 3.75rem auto auto 20%;
    
    &.c-IsExpanded {
      margin: 3.75rem auto auto 5%;
    }
  }
}
