.c-Dashboard {
  .c-find-by-skills-input {
    height: 2.375rem;
    border-radius: 4px;
  }

  .c-find-by-skills-button {
    height: 2.375rem;
  }

  .c-see-more {
    &:hover, :focus {
      .c-see-more-text {
        color: lighten($primary-blue, 9);
      }

      .c-see-more-icon {
        fill: lighten($primary-blue, 9);
      }
    }
  }
}