.c-FooterSection {
  background-color: #eff2f2;

  .c-FooterContainer {
    .c-LogoIcon {
      width: 1.875rem;
      height: 1.875rem;
      fill: $primary-color;
      margin-right: 0.625rem;
    }

    .c-LogoText {
      font-size: 0.75rem;;
    }
  }
}