.c-HeroSection {
  width: 100%;
  height: auto;
  background: linear-gradient(to left, #16b9c2a1 0%, #03070ce0),
    url(/images/neonbrand.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .c-HeroTextSection {
    margin-top: 4rem;

    .c-HeroTitle {
      @include sm {
        font-size: 2rem;
      }

      @include md {
        font-size: 3rem;
      }
    }

    .c-GetStartedButton {
      padding: 1rem 3rem;
      margin-top: 3.125rem;
    }
  }
}
