.c-HomePageMobileNavbar {
  max-width: 85.375rem;

  .c-LogoIcon {
    width: 1.875rem;
    height: 1.875rem;
    fill: $primary-color;
    margin-right: 0.625rem;
  }

  .c-LogoText {
    font-size: 1rem;
  }

  .c-NavLinks {
    font-size: 1rem;
  }
}
