.c-Input {
  .c-with-left-icon {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &.small {
    width: 50%;
  }

  &.medium {
    width: 70%;
  }

  &.large {
    width: 100%;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
