.c-SideMenuLinks {
  height: calc(100vh - 3.75rem);
  overflow-y: auto;

  .c-sidemenu-link {
    &:hover {
      color: lighten($primary-blue, 0.6);

      svg {
        fill: lighten($primary-blue, 0.6);
      }
    }

    &.c-selected {
      border-right: 0.3rem solid lighten($primary-blue, 0.6);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  
  .c-fade-in {
    animation: fadeIn ease 10s;
  }

  .c-fade-out {
    animation: fadeOut ease 8s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}