.c-SkillCategoryCard {
  padding: 1rem 1rem;
  width: 100%;

  @media (min-width: 48em) {
    width: calc(100% / 2.05);
    margin-bottom: 2rem;
  }

  @media (min-width: 87.5em) {
    width: calc(100% / 4.5);
    margin-bottom: 0;
  }
}
